{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block after_field_sets %}
     <h3>Instrument On platform</h3>
    {% if extra_content %}
        {% include "admin/platform_info.html" %}
    {% else %}
        <p>There is no instrument_on_platform data</p>
    {% endif %}
     <a href="{{ instrument_on_platform_add_link }}" target="_blank">add instrument on platform table</a>

{% endblock %}
{% block inline_field_sets %}
    {% for inline_admin_formset in inline_admin_formsets %}
        {% include inline_admin_formset.opts.template %}
    {% endfor %}
{% endblock %}