{% load i18n static %}
<div class="results">
    <table id="result_list">
        <thead>
        <tr>
            <th scope="col" {{ header.class_attrib }}>Platform Name</th>
            <th scope="col" {{ header.class_attrib }}>Start Time</th>
            <th scope="col" {{ header.class_attrib }}>End Time</th>
            <th scope="col" {{ header.class_attrib }}>Edit Instrument on Platform</th>
        </tr>
        </thead>
        <tbody>
        {% for c in extra_content %}
            <tr>
                <td><a href="{{ c.url_platform_change }}" target="_blank">{{ c.platform.name }}</a></td>
                <td>{{ c.start_time }}</td>
                <td>{{ c.end_time }}</td>
                <td><a href="{{ c.url_edit_link }}" target="_blank">edit</a></td>
            </tr>
        {% endfor %}

    </table>

</div>