.fieldBox.field-start_time{
    width: 550px;
}
.fieldBox.field-deployment_latitude{
    width: 550px;
}
.fieldBox.field-deployment_longitude{
    width: 550px;
}
.fieldBox.field-deployment_cruise{
    width: 550px;
}
.fieldBox.field-deployment_personnel{
    width: 550px;
}