.fieldBox.field-deployment_latitude{
    margin-right: 70px;
    margin-bottom: 10px;
}
.fieldBox.field-recovery_latitude{
    margin-right: 300px;
    margin-bottom: 10px;
}
.fieldBox.field-deployment_longitude{
    margin-right: 60px;
}

.fieldBox.form-row.field-deployment_latitude.field-recovery_latitude.field-deployment_longitude.field-recovery_longitude{
    height: 120px;
    width: 1020px
}

